<div class="success-signup">
  <div class="success-banner">
    <div class="success-logo">
      <%= image_tag 'icons/flash.svg', class: "flash-lightning" %>
      <%= image_tag 'birdfeed-logo-white.png', class: 'success-logo-img' %>
    </div>

    <div class="text-1">
      WE WILL MISS YOU
      <%= image_tag 'icons/red-bird.svg', class: "d-inline" %>
    </div>

    <div class="text-2">
      COME BACK WHENEVER
    </div>

    <div class="success-bottom">
      WE WILL STILL BE HERE
    </div>
  </div>

  <p class="text-center mb-4 cancel-description">
    YOUR MEMBERSHIP HAS BEEN CANCELLED
  </p>

  <div class="text-center mb-4 contact-description">
    IF YOU'VE SUBMITTED THIS FORM IN ERROR PLEASE <a>CONTACT US</a> WITHIN 24 HOURS
  </div>

  <div class="text-center">
    <button class="take-btn">TAKE ME ANYWHERE BUT HERE</button>
  </div>
</div>
