$(document).on('turbolinks:load', function(){
  if ($('#payment-form').length == 1 && $('#payment-form').children('iframe').length == 0) {
    var clientToken = "<%= Braintree::ClientToken.generate %>";

    braintree.setup(clientToken, "dropin", {
      container: "payment-form",
      paypal: {
        button: {
          type: "checkout"
        }
      },
      onError: function(payload) {
        console.log(payload);
      }
    });
  }

  $('.update-cc').click(function(e){
    e.preventDefault();
    var clientToken = "<%= Braintree::ClientToken.generate %>";

    $(this).after('<div class="form-group" id="payment-form"></div>');

    braintree.setup(clientToken, "dropin", {
      container: "payment-form",
      paypal: {
        button: {
          type: "checkout"
        }
      },
      onError: function(payload) {
      }
    });

    $(this).hide();
  });
});
