#signInModal {
  .modal-dialog-centered {
    width: 100%;
  }
}

@media (min-width: 768px) { 
  #signInModal {
    .modal-dialog-centered {
      width: 75vw;
    }
  }
}

.sign-in-modal {
  border-radius: 8px;
  background-color: white;
}

.sign-in-modal-body {
  margin: 40px 30px;
  border-left: 10px solid #ff7979;
  border-right: 10px solid #ff7979;
  border-bottom: 10px solid #ff7979;
  padding: 10px;
  position: relative;
  z-index: 1;

  @media (min-width: 992px) {
    padding: 40px;
    margin: 7vh;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 350px);
    height: 10px;
    background-color: #ff7979;
  }

  &:after {
    content: '';
    position: absolute;
    top: -6px;
    left: calc(350px - 41px);
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 21px solid transparent;
    border-right: 21px solid #ff7979;
    height: 22px;
    width: 42px;
  }

  h3 {
    color: #3ed4e0;
    font-family: 'Phosphate-Inline';
    font-size: 45px;
    position: relative;
    top: -30px;
    margin-bottom: -30px;

    @media (min-width: 992px) {
      font-size: 65px;
      top: -75px;
    }
  }

  .form-control {
    border: none;
    background-color: #e2e2e2;
    border-radius: 3px;
  }

  .or {
    display: inline-block;
    width: 76px;
    height: 76px;
    border: 2px solid #ff7979;
    position: relative;
    margin-right: 50px;
    border-radius: 40px;
    color: #3ed4e0;
    font-family: 'Phosphate-Solid';
    font-size: 20px;
    text-transform: uppercase;
    line-height: 70px;
    background-color: white;
    text-align: center;
    align-self: center;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,0%);
      height: 0px;
      width: 200px;
      border: 1px solid #3ed4e0;
      z-index: -1;

      @media (min-width: 992px) {
        width: 0px;
        height: 237px;
        transform: translate(0%,-50%);
      }
    }
  }
}
