$('.music-wrapper').removeClass('loaded');
$('.playlist-nav-body li.active').removeClass('active')

<% if not @filters %>
  $('#playlist-all-releases').parent().addClass('active');
<% elsif @filters[:release_type] == '1' %>
  $('#playlist-exclusive-releases').parent().addClass('active');
<% elsif @filters[:release_type] == '2' %>
  $('#playlist-select-releases').parent().addClass('active');
<% end %>

$('.music-wrapper').empty();
$('.music-wrapper').append('<div class="music-block"></div>')
$('.music-block').append('<div class="row mt-3 releases-list"></div>')


var releases = [];

<% @releases.each do |release| %>
  releases.push('<div class="col-lg-4 col-md-6 mb-5"><%= escape_javascript(render release) %></div>');
<% end %>

$('.music-block .row').append(releases);
$('.music-wrapper').addClass('loaded');

$(".lazy").Lazy({
  scrollDirection: 'vertical',
  effect: 'fadeIn',
  visibleOnly: true,
  effectTime: 2000,
});